@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-bold_1-webfont.woff2') format('woff2'),
       url('./fonts/roboto-bold_1-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-light_1-webfont.woff2') format('woff2'),
       url('./fonts/roboto-light_1-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-lightitalic_1-webfont.woff2') format('woff2'),
       url('./fonts/roboto-lightitalic_1-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('./fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('./fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('./fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  color: #262424;
  font-size: 18px;
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.42;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: #5973b1;
  color: #ffffff;
  min-height: 73px;
  margin-bottom: 13px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: inherit;
  padding: 0 21px;
}

.logo {
  display: inline-block;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__tel {
  color: #ffffff;
  font-size: 21px;
  text-decoration: none;
}

.contacts__dropdown-title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-decoration: underline;
}

.sidebar {
  padding-top: 16px;
  padding-left: 16px;
}

.menu__link {
  position: relative;
  color: #5972b1;
  font-size: 12px;
  line-height: 4.2;
  letter-spacing: 2.4px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}

.menu__link:hover {
  color: #262424;
}

.menu__link::before {
  content: "";
  display: inline-flex;
  margin-right: 19px;
  background-image: url('../img/icons/sprites.png');
  position: absolute;
  left: -36px;
  top: -3px;
}

.menu__link--home::before {
  width: 17px;
  height: 18px;
  background-position: -50px -100px;
}

.menu__link--rewiews::before {
  width: 20px;
  height: 18px;
  background-position: -96px -62px;
}

.menu__link--crew::before {
  width: 23px;
  height: 18px;
  background-position: -53px -62px;
}

.menu__link:hover.menu__link::after {
  content: "";
  display: inline-flex;
  margin-right: 19px;
  background-image: url('../img/icons/sprites.png');
  position: absolute;
  left: -36px;
  top: -3px;
}

.menu__link:hover.menu__link--home::after {
  width: 17px;
  height: 18px;
  background-position: -87px -100px;
}

.menu__link:hover.menu__link--rewiews::after {
  width: 20px;
  height: 18px;
  background-position: -10px -100px;
}

.menu__link:hover.menu__link--crew::after {
  width: 23px;
  height: 18px;
  background-position: -10px -62px;
}

/* Спрайты */
.bg-fb {
  width: 6px; height: 13px;
  background: url('css_sprites.png') -157px -39px;
}
.bg-feed_icon {
  width: 20px; height: 18px;
  background: url('css_sprites.png') -96px -62px;
}
.bg-feed_icon_hover {
  width: 20px; height: 18px;
  background: url('css_sprites.png') -10px -100px;
}
.bg-main_icon {
  width: 17px; height: 18px;
  background: url('css_sprites.png') -50px -100px;
}
.bg-main_icon_hover {
  width: 17px; height: 18px;
  background: url('css_sprites.png') -87px -100px;
}
.bg-mark_as_favorite_star {
  width: 32px; height: 32px;
  background: url('css_sprites.png') -10px -10px;
}
.bg-team_icon_hover {
  width: 23px; height: 18px;
  background: url('css_sprites.png') -10px -62px;
}
.bg-twitter {
  width: 11px; height: 9px;
  background: url('css_sprites.png') -157px -10px;
}
.bg-flower {
  width: 27px; height: 31px;
  background: url('css_sprites.png') -62px -10px;
}
.bg-painter_palette {
  width: 28px; height: 29px;
  background: url('css_sprites.png') -109px -10px;
}
.bg-mail {
  width: 12px; height: 9px;
  background: url('css_sprites.png') -124px -100px;
}
.bg-vk {
  width: 12px; height: 7px;
  background: url('css_sprites.png') -10px -138px;
}
.bg-team_icon {
  width: 23px; height: 18px;
  background: url('css_sprites.png') -53px -62px;
}