html, body {
  height: 100%;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  color: #262424;
  font-size: 18px;
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.42;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.page-content__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}



/* Спрайты */
.bg-fb {
  width: 6px; height: 13px;
  background: url('css_sprites.png') -157px -39px;
}
.bg-feed_icon {
  width: 20px; height: 18px;
  background: url('css_sprites.png') -96px -62px;
}
.bg-feed_icon_hover {
  width: 20px; height: 18px;
  background: url('css_sprites.png') -10px -100px;
}
.bg-main_icon {
  width: 17px; height: 18px;
  background: url('css_sprites.png') -50px -100px;
}
.bg-main_icon_hover {
  width: 17px; height: 18px;
  background: url('css_sprites.png') -87px -100px;
}
.bg-team_icon_hover {
  width: 23px; height: 18px;
  background: url('css_sprites.png') -10px -62px;
}
.bg-twitter {
  width: 11px; height: 9px;
  background: url('css_sprites.png') -157px -10px;
}


.bg-mail {
  width: 12px; height: 9px;
  background: url('css_sprites.png') -124px -100px;
}
.bg-vk {
  width: 12px; height: 7px;
  background: url('css_sprites.png') -10px -138px;
}
.bg-team_icon {
  width: 23px; height: 18px;
  background: url('css_sprites.png') -53px -62px;
}